.Operation-form{
    border-radius: 10px;
    border:1px solid #282c34;
    padding: 1% 1% 1% 1%;
}

.Operation-form input,textarea,select{
    width: 100%;
    padding: 8px 8px;
    margin: 1% 0%;
    display: inline-block;
    border-radius: 10px;
    box-sizing: border-box;
    color: #282c34;
    border:1px solid #323c50;
    font-size: medium;
    outline: none;  /*le border lorsque on selectionne le input ou les autres */
    }
    textarea::placeholder{
        color: #282c34;
    }
.Operation-form option{
    color: #282c34;
}

.Operation-divBtn{
    width: 80%;
    margin: 1% 10% ;
}
.Operation-divBtn button {
    width: 45%;
    background-color: white;
    border:1px solid #323c50;
    color: #282c34;
    border-radius: 10px;
    cursor: pointer;
    padding: 8px;
    margin-left: 3%;
    font-size: large;
    }
        .Operation-form button:hover {
        opacity: 0.8;
        border-radius: 20px;
        }
   